asgiref==3.5.0; python_version >= "3.8"
click==8.0.4; python_version >= "3.6" and python_full_version >= "3.6.2"
colorama==0.4.4; python_version >= "3.6" and python_full_version >= "3.6.2" and platform_system == "Windows"
django==4.0.3; python_version >= "3.8"
mccabe==0.6.1; python_version >= "3.6"
mypy-extensions==0.4.3; python_full_version >= "3.6.2"
pathspec==0.9.0; python_full_version >= "3.6.2"
platformdirs==2.5.1; python_version >= "3.7" and python_full_version >= "3.6.2"
pycodestyle==2.8.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pyflakes==2.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
sqlparse==0.4.2; python_version >= "3.8"
tomli==2.0.1; python_version >= "3.7" and python_full_version >= "3.6.2"
typing-extensions==4.1.1; python_version < "3.10" and python_full_version >= "3.6.2" and python_version >= "3.6"
tzdata==2021.5; sys_platform == "win32" and python_version >= "3.8"
