* {
    box-sizing: border-box
}

.Plane {
    text-align: center;
    display: grid;
    grid-template-columns: 4fr 5fr 5fr 5fr 10fr 5fr 5fr 5fr 4fr;
}

.Cell {
    border: 1px solid gray;
    height: 50px;
}

.seat {
    background-color: lightcyan;
}

.entrance {
    background-color: lightgoldenrodyellow;
}

.aisle {
    background-color: peachpuff;
}

.wall {
    background-color: linen;
}

.player {
    border: 5px solid plum;
    background-color: #4136e723;
}